p{
    margin-bottom: 0;
    font-weight: 500;
}

._threeNavButton{
    min-width: 300px;
}

._threeNavButtonCard{
    transition: all 0.3s;
    /*cursor: pointer;*/
    opacity: 0.5;
}

/*._threeNavButtonCard:hover{
    scale: 1.05;
    background-color: rgb(46, 52, 57);
}*/





@media screen and (max-width: 450px) {
    ._innerCardPreviewHolder {
        flex-direction: column !important;
        
    }

    ._twoInfoShower{
        width: 100%;
    }

    ._termFlex{

        justify-content: center;
        align-items: center;
        width: 50%;
    }

    ._definitionFlex{

        justify-content: center;
        align-items: center;
        width: 50%;
    }

    ._twoDataHolder{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
